<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="/assets/polyblade-logo.png" />
    <meta name="description" content="Makes glory to your site. Polyblade a css generator platform, it saves time for UI developers.">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript,polyblade,poly,blade">
    <meta name="author" content="Haribalajiravi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Exo:800i" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
</head>

<body>
<div class="center-panel w600px h400px">
    <header class="txtbld f40pt">404 <span class="error-text txtbld f40pt">ERROR!</span></header>
    <img class="w360px" src="/assets/404.png">
    <div class="txtbld f17pt">what are you searching for? you are at dark void!</div>
</div>
</body>
</html>